<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/credStyle.css' />
  </head>
  <body>
    <p><%= title %></p>
    <div id="creditos">
    	<p id="imageP"><b>José Luis Samper</b></p>
    	<img src="/images/creditImage.gif" alt="My image" style="width:304px;height:228px;"/>
    </div>
  </body>
</html>